@import '../../variables.scss';

.listPagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 55px;
  width: 100%;
  bottom: 0;
  background-color: $main;
  color: white;
  font-weight: 400;
  button {
    border: none;
    background-color: white;
    color: $darker;
    padding: 5px 10px;
    font-weight: bold;
    &:disabled {
      color: $disabled;
      background-color: $gray;
      cursor: not-allowed;
    }
  }
  span {
    margin: 0 10px;
  }
}