@import '../../variables.scss';

.sideLetters {
  display: flex;
  flex-direction: column;
  overflow: auto;
  background-color: $gray;
  min-width: 60px;

  button {
    margin: 5px;
    border: none;
    background-color: $lighter;
    color: white;
    padding: 10px;
    cursor: pointer;
    
    &:hover {
      background-color: $accent;
    }

    &:focus {
      outline: none;
    }

    &.active {
      background-color: $darker;
      
      &:hover {
        background-color: #5b2375;
      }
    }
  }
}
