.searchBar {
  display: flex;
  align-items: center;
  position: fixed;
  height: 50px;
  padding: 0 10px;
  background-color: lightsteelblue;
  box-sizing: border-box;

  input {
    // width: 100%;
    border: 1px solid lightslategrey;
    border-radius: 10px;
    padding: 5px 8px;
    margin-left: 5px;
    font-size: 0.8em;

    &:focus {
      outline: none;
    }
  }
}
