@import '../../variables.scss';

.searchBar {
  display: flex;
  align-items: center;
  color: $gray;
  
  input {
    // width: 100%;
    border: 1px solid lightslategrey;
    border-radius: 20px;
    padding: 6px 12px;
    margin-left: 8px;
    font-size: 0.8em;
    width: 100%;
    
    &:focus {
      outline: none;
    }
  }
}

.contacts {
  position: fixed;
  background-color: $darker;
  box-sizing: border-box;
  height: 55px;
  padding: 0 15px;
  width: 300px;
}
.connections {
  margin-left: auto;
  width: 50%;
  input {
    padding: 8px 16px;
  }
}
