@import '../../variables.scss';

.contactDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $background;

  h1,
  p {
    margin: 0;
  }

  span {
    font-weight: bold;
  }

  header {
    display: flex;
    align-items: center;
    position: fixed;
    height: 75px;
    width: calc(100% - 300px);
    padding: 0 20px;
    background-color: $main;
    box-sizing: border-box;

    .avatar {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      margin-right: 10px;
      border: 3px solid white;
    }
    h1 {
      color: white;
    }
  }

  main {
    padding: 0 10%;
    margin-top: 75px;
    overflow-y: auto;
    box-sizing: border-box;

    .description {
      margin: 15px 0;

      p {
        margin: 5px 0;
      }
    }
  }

  .connections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    margin-bottom: 15px;

    button {
      border: none;
      padding: 0;
      font-size: 0.9em;
      cursor: pointer;
    }
  }
}

@media (min-width: 900px) {
  .contactDetails {
    main {
      .connections {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
