@import '../../variables.scss';

.connectionCard {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 15px;

  .avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    border: 4px solid #19bdc4;
    box-sizing: border-box;
  }

  p{
    margin-top: auto;
  }

  &:hover {
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.35);
    .avatar {
      border-color: $accent;
      box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (min-width: 600px) {
  .connectionCard {
    flex-direction: column;
    height: 125px;
    padding: 18px;
    
    .avatar {
      width: 75px;
      height: 75px;
      margin: 5px 0 10px;
      border-width: 5px;
    }
  }
}

@media (min-width: 768px) {
  .connectionCard {
    height: 145px;
    .avatar {
      width: 85px;
      height: 85px;
    }
  }
}