@import '../../variables.scss';

.connectionCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 18px;
  height: 145px;

  .avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-size: cover;
    margin: 5px 0 10px;
    border: 5px solid $main;
    box-sizing: border-box;
  }

  p{
    margin-top: auto;
  }

  &:hover {
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.35);
    .avatar {
      border-color: $accent;
      box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.2);
    }
  }
}