@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:300,400&display=swap');
@import './variables.scss';

.App {
  display: flex;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $text;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: $dark;
}

.contactsSection {
  display: flex;
  flex-direction: column;
}

.contactsList {
  display: flex;
  height: calc(100vh - 50px);
  margin-top: 50px;
}

