.App {
  display: flex;
  height: 100vh;
  .contactsSection {
    border: 1px dashed red;
    width: 25%;
    height: auto;
  }
  .displaySection {
    border: 1px dashed turquoise;
    width: 75%;
  }
}

