@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:300,400&display=swap');
@import './variables.scss';

.App {
  display: flex;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: $text;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: $dark;
}
