// $black: #041214;
// $dark: #042930;
// $main: #0b2e36;
// $light: #2f7258;
// $accent: #752672;
// $gray: #becbcb;

$dark: #181c20;
$text: #313c41;
$main: #19bdc4;
$lighter: #45c9ce;
$background: #f4f4f6;
$gray: #d0dce0;
$accent: #752672;
