@import '../../variables.scss';

.contactsList {
  width: 100%;
  position: relative;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    height: 350px;
    height: calc(100vh - 105px);
  }

  p {
    margin: 0;
    padding: 10px;
  }
}

.contactElement {
  button {
    padding: 10px 15px;
    color: $text;
    text-decoration: none;
    border: none;
    font-size: 1em;
    border-bottom: 1px solid $gray;
    width: 100%;
    text-align: left;
    &:hover {
      background-color: $background;
    }
    &:focus {
      outline: none;
    }
  }
  .active {
    background-color: $gray;
    &:hover {
      background-color: #becace;
    }
  }
}
