@import '../../variables.scss';

.contactsList {
  width: 100%;
  position: relative;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    height: 350px;
    height: calc(100vh - 105px);
  }

  p {
    margin: 0;
    padding: 10px;
  }
}
