.contactsList {
  border: 1px dashed green;
  margin-top: 50px;
  overflow: scroll;
  height: calc(100vh - 50px);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  p {
    margin: 0;
    padding: 10px;
  }
}

.contactElement {
  border-bottom: 1px solid lightgray;
  padding: 10px;
  a {
    color: darkslategrey;
    text-decoration: none;
  }
}
